html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.rounded-my {
    border-radius: 5%;
    padding: 0.6%;
}

.shadow-my {
    box-shadow: 0 0 10px black;
}

.align-my {
    text-align: center;
}

.card:hover {
    background-color: azure;
}